{% extends 'base.html' %}
{% block content %}
{% for product in products.all|dictsort:"title" %}
<div class="row pt-3">
    <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
        <img src="{{ product.icon.url }}" class="img-fluid"/>
    </div>
    <div class="col-5" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
        <h1>{{ product.title }}</h1>
        <p>{{ product.summary }}</p>
    </div>
    <div class="col-4">
        {% if user in product.voters.all %}
        <a href="javascript:{document.getElementById('upvote_home{{product.id}}').submit()}"><button class="btn btn-success btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{product.votes_total}}</button></a>
        {% else %}
        <a href="javascript:{document.getElementById('upvote_home{{product.id}}').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{product.votes_total}}</button></a>
        {% endif %}
    </div>
    <form id="upvote_home{{product.id}}" method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{product.id}}"/>
    </form>
</div>
{% endfor %}
{% endblock %}
